<%- include('partials/header') %>

<link rel="stylesheet" type="text/css" href="/css/jTinder.css">
<link rel="stylesheet" type="text/css" href="/css/chardinjs.css">

<nav class="navbar navbar-light bg-light mb-2 mb-lg-5 shadow">
    <div class="container-fluid">
        <div class="d-flex">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24" fill="black" width="2rem" height="2rem"><rect fill="none" height="24" width="24"/><path d="M12,3L4,9v12h16V9L12,3z M12.5,12.5c0,0.83-0.67,1.5-1.5,1.5v4h-1v-4c-0.83,0-1.5-0.67-1.5-1.5v-3h1v3H10v-3h1v3h0.5v-3h1 V12.5z M15,18h-1v-3.5h-1v-3c0-1.1,0.9-2,2-2V18z"/></svg>  
            </span>
          <span class="navbar-brand mb-0 h1 text-xl"> 
            Fiaai</span>
    
        </div>

      <div class="d-flex justify-content-evenly align-items-center">
          <span class="navbar-brand mb-0 h2">Talofa <%= name %> 😄 </span>
            <button id="leaveRoomBtn" class="btn btn-sm btn-danger text-white">Leave Room</button>
        
    </div>
    </div>

  </nav>
<noscript>
    <div class="container my-2">
        <div class="alert alert-danger show animate" role="alert">
          Please enable JavaScript to be able to Play.
          <hr>
          Fa'amolemole e mana'o mia JavaScript e fai ai Ta'aloga.
        </div> 
      </div>
</noscript>
<div id="jTinder-wrapper-container ps-xs-2" class="container">    
    
    <div id="jTinder-container">
        
        <!-- start padding container -->
        <div class="wrap">
            <div id="like-overlay" class="overlay"></div>
            <div id="dislike-overlay" class="overlay"></div>
            <div id="banner-img"></div>
            <!-- start jtinder container -->
            
            <div id="tinderslide" class="invisible">
            <input type="hidden" name="len" id="len" value="<%=places.length%>">
                <ul>
                
                    <% for(var i = 0; i < places.length; i++){%>
                    <li class="pane pane<%= i + 1 %>" data-id="<%= places[i]._id %>">
                        <div class="img" style="background: url(<%= (places[i].image); %>) no-repeat scroll center center;background-size: cover;"></div>
                        <div><%= places[i].name %></div>
                        <div class="m-center h-100 w-50" style="position:absolute;"></div>
                        <div class="like"></div>
                        <div class="dislike"></div>
                    </li>
                    <% }%>
                </ul>
            </div>
            <!-- end jtinder container -->
        </div>
        <!-- end padding container -->
    
        <!-- jTinder trigger by buttons  -->
        <div class="actions">
            <a href="#" class="dislike"><i></i></a>
            <a href="#" class="like"><i></i></a>
        </div>
       
        <!-- jTinder status text  -->
        <!-- <div id="status"></div> -->
    </div>
</div>
<div class="container-sm mt-5">
    <p class="text-center subtitle"> 1st <span style="font-size:20px;">🍴</span> to reach the most 👍 wins!</p>
    <div class="row d-flex justify-content-around" style="height:200px">
        <div class="col border" style="height: 300px;">
            <div class="container">         
                <p class="leading pt-2">Users</p>   
               <hr class="my-2">
                <div>
                    <ul id="usersInRoom" class="list-unstyled">
                        <div class="row d-flex" id="<%= name%>-div">
                            <div class="col">
                                <li><strong><span id="myName"><%= name %></span></strong></li>
                            </div>
                            <div class="col">
                                <li><span class="badge bg-danger ready-status">Unready</span></li>
                            </div>
                        </div>
                      
                    </ul>
                </div>
            </div>
            <div id="readyBtnDiv" class="row w-75 mx-auto">
                <button id="toggleReadyBtn" class="btn btn-sm btn-outline-success btn-block">Ready?</button>
            </div>
        </div>
        <div class="col border" style="height: 300px;">

        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">🥳 And the Winner is...</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex flex-column">
          <h1 id="winner-name"></h1>
          <img id="winner-img" class="w-100 h-100">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


    <!-- jQuery lib -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <!-- transform2d lib -->
    <script type="text/javascript" src="/js/jquery.transform2d.js"></script>
    <!-- jTinder lib -->
    <script type="text/javascript" src="/js/jquery.jTinder.js"></script>
    <!-- chardinjs lib -->
    <script type="text/javascript" src="/js/chardinjs.min.js"></script>
<%- include('partials/footer') %>
<script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
<script src="/js/app.js"></script>
