<%- include('partials/header') %>
<link rel="stylesheet" type="text/css" href="/css/jTinder.css">
<h1>Welcome <%= name%></h1>
    <!-- start padding container -->
    <div class="wrap">
        <!-- start jtinder container -->
        <div id="tinderslide">
        <input type="hidden" name="len" id="len" value="<%=places.length%>">
            <ul>
                <% for(var i = 0; i < places.length; i++){%>
                <li class="pane<%= i + 1 %>" data-id="<%= places[i]._id %>">
                    <div class="img" style="background: url(<%= places[i].image %>) no-repeat scroll center center;background-size: cover;"></div>
                    <div><%= places[i].name %></div>
                    <div class="like"></div>
                    <div class="dislike"></div>
                </li>
                <% }%>
            </ul>
        </div>
        <!-- end jtinder container -->
    </div>
    <!-- end padding container -->

    <!-- jTinder trigger by buttons  -->
    <div class="actions">
        <a href="#" class="dislike"><i></i></a>
        <a href="#" class="like"><i></i></a>
    </div>

    <!-- jTinder status text  -->
    <!-- <div id="status"></div> -->

    <!-- jQuery lib -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <!-- transform2d lib -->
    <script type="text/javascript" src="/js/jquery.transform2d.js"></script>
    <!-- jTinder lib -->
    <script type="text/javascript" src="/js/jquery.jTinder.js"></script>
<%- include('partials/footer') %>
<script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
<script src="/js/app.js"></script>
